.main-title{
    margin-bottom: 40px;
    &-h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 65.57px;
        letter-spacing: 0.03em;
        text-align: center;
        color:  rgba(108, 102, 62, 1);
    }
    &-h2{
        font-size: 24px;
        font-weight: 300;
        line-height: 32.78px;
        letter-spacing: 0.03em;
        text-align: center;
        color: rgba(108, 102, 62, 1);

    }
}


//Portrait tablets and small desktops 
@media (min-width: 768px) and (max-width: 991px) {
    .main-title{
        margin: 0 auto ;
        margin-bottom: 20px;
        padding: 0 10px;
        max-width: 750px;
        &-h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 65.57px;
            letter-spacing: 0.03em;
            text-align: center;
            color:  rgba(108, 102, 62, 1);
        }
        &-h2{
            font-size:20px;
            font-weight: 300;
            line-height: 24.78px;
            letter-spacing: 0.03em;
        }
    }
}

//Mobile
@media (max-width: 767px){
    .main-title{
        margin-bottom: 20px;
        padding: 0 10px;
        &-h1{
            font-size: 28px;
            font-weight: 700;
            line-height: 65.57px;
            letter-spacing: 0.03em;
            text-align: center;
            color:  rgba(108, 102, 62, 1);
        }
        &-h2{
            font-size: 16px;
            font-weight: 300;
            line-height: 20.78px;
            letter-spacing: 0.03em;
        }
    }
}