.bibliography-list{
    display: flex;
    margin: 0 auto;
    gap: 30px;
    margin-top: 10px;
    flex-direction: column;
    align-items:center;
    margin-bottom: 30px;
    position: relative;
    width: 961px;
    .arrow-decor-left{
        background-image:url('../../assets/arrow.svg');
        background-repeat: no-repeat;
        width: 40px;
        height:20px;
        background-size:contain;
        position:absolute;
        top: 50%; 
        left: -70px
    }
    .arrow-decor-right{
        background-image:url('../../assets/arrow.svg');
        background-repeat: no-repeat;
        width: 40px;
        height:20px;
        background-size:contain;
        position:absolute;
        top: 50%; 
        right: -70px; 
        transform:rotate(180deg)
    }
    &-item{
        display: flex;
        align-items:center;
        width: 961px;
        gap: 12px;
        font-size: 22px;
        font-weight: 400;
        line-height: 38px;
        text-align: left;

        &::before {
            content: url('../../assets/crown.svg');
        }
    }
}

//HD
@media (min-width: 992px) and (max-width: 1499px) {
    .bibliography-list{
        display: flex;
        margin: 0 auto;
        gap: 30px;
        margin-top: 10px;
        flex-direction: column;
        align-items:center;
        margin-bottom: 30px;
        position: relative;
        width: 900px;
        .arrow-decor-left{
            background-image:url('../../assets/arrow.svg');
            background-repeat: no-repeat;
            width: 40px;
            height:20px;
            background-size:contain;
            position:absolute;
            top: 50%; 
            left: -70px
        }
        .arrow-decor-right{
            background-image:url('../../assets/arrow.svg');
            background-repeat: no-repeat;
            width: 40px;
            height:20px;
            background-size:contain;
            position:absolute;
            top: 50%; 
            right: -70px; 
            transform:rotate(180deg)
        }
        &-item{
            display: flex;
            align-items:center;
            width: 961px;
            gap: 12px;
            font-size: 22px;
            font-weight: 400;
            line-height: 38px;
            text-align: left;
    
            &::before {
                content: url('../../assets/crown.svg');
            }
        }
    }
}

//Portrait tablets and small desktops 
@media (min-width: 768px) and (max-width: 991px) {
    .bibliography-list{
        display: flex;
        margin: 0 auto;
        gap: 15px;
        margin-top: 10px;
        flex-direction: column;
        align-items:center;
        margin-bottom: 30px;
        position: relative;
        width: 100vw;
        .arrow-decor-left{
            background-image:url('../../assets/arrow-mobile.svg');
            left: 10px;
            height:20px;
            width: 15px;
            
        }
        .arrow-decor-right{
            background-image:url('../../assets/arrow-mobile.svg');
            right:10px; 
            height:20px;
            width: 15px;
        }
        .decor{
            width: 250px;
        }
        &-item{
            display: flex;
            align-items:center;
            width: 80%;
            gap: 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
    
            &::before {
                content: url('../../assets/crown.svg');
                scale: 0.7;
            }
        }
    }
}

//Mobile
@media (max-width: 767px){
    .bibliography-list{
        display: flex;
        margin: 0 auto;
        gap: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items:center;
        position: relative;
        width: 100vw;
        .arrow-decor-left{
            background-image:url('../../assets/arrow-mobile.svg');
            left: 10px;
            height:20px;
            width: 15px;
            
        }
        .arrow-decor-right{
            background-image:url('../../assets/arrow-mobile.svg');
            right:10px; 
            height:20px;
            width: 15px;
        }
        .decor{
            width: 150px;
        }
        &-item{
            display: flex;
            align-items:center;
            width: 80%;
            gap: 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
    
            &::before {
                content: url('../../assets/crown.svg');
                scale: 0.7;
            }
        }
    }
}