// TODO: color
$background: #331F00;
$colorTextHeader: #FDF8F0;
$colorBackgroundEmblem:#9A7E5F;
$menuBorderColor:#271901;
$menuHoverColor:#ffd085;
$linkHoverColor:#BFA181;

// TODO: text-size
$sizeTextHeader: 14px;;

//
$maxWidth: 1440px;
$maxWidthHD: 950px;
