@import 'variables';
@import 'mixin';
.main__emblem{
    width: 100vw;
    background: $colorBackgroundEmblem;
    .emblem-wrapper{
        padding: 32px 40px;
        @include defaultWidth;
        display: flex;
        justify-content: space-around;
        .emblem-text{
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}


//HD
@media (min-width: 992px) and (max-width: 1499px) {
    .main__emblem{
        .emblem-wrapper{
            padding: 32px 40px;
            gap: 80px;
            @include defaultWidth(1200px);
            .emblem-img{
                width: 100%;
            }
        }
    }
}

//
@media (max-width: 991px) {
    .main__emblem{
        .emblem-wrapper{
            padding: 15px 20px;
            gap: 50px;
            @include defaultWidth(1000px);
            .emblem-img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .main__emblem{
        .emblem-wrapper{
            padding: 15px 20px;
            gap: 30px;
            // @include defaultWidth(200px);
            .emblem-img{
                width: 100%;
            }
            .emblem-text{
                font-size: 20px;
            }
        }
    }
}