@import 'variables';
@import 'mixin';
.choiceStat{
    @include defaultWidth;
    display: flex;
    margin-bottom: 30px;
    .emblem-wrapper-2{
        display: flex;
        width: 100%;
        gap: 20px;
        figure{
            width: 50%;
            background-color:rgba(154, 126, 95, 1);
            padding: 20px;
            border-radius:10px;
            text-align: center;
            .emblem-img-2{
                object-fit: contain;
                max-width: 100%;
            }
            .emblem-text-2{
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

//HD
@media (min-width: 992px) and (max-width: 1499px) {
    .choiceStat{
        @include defaultWidth(950px);
        .emblem-wrapper-2{
            .emblem-img-2{
                height: 450px;
            }
        }
    }
}

//
@media (max-width: 991px) {
    .choiceStat{
        width: 100vw;
        padding: 0 15px;
        .emblem-wrapper-2{
            .emblem-img-2{
                height: 350px;
            }
        }
    }
}

@media (max-width: 767px) {
    .choiceStat{
        padding: 0 10px;
        .emblem-wrapper-2{
            gap: 10px;
            padding: 0px;
            figure{
            .emblem-img-2{
                height: 150px;
            }

            .emblem-text-2{
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            }
        }
    }
}