@import 'variables';
@import 'mixin';
.main__header{
    border-bottom:  #FDF8F0 solid 1px;
    @include defaultWidth;
    margin-bottom: 50px;
    // padding: 40px;
    .nav-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 180px;
        row-gap: 28px;
        padding: 80px 40px 12px;
        &-item{
            position: relative;
            width: 180px;
            a{
                color: $colorTextHeader;
                font-size: $sizeTextHeader;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                
            }
            a:hover {
                box-shadow: inset 100px 0 0 0 #D65472;
                ;
                }
            
            &::before{
                content: url('../assets/icon/crown.svg');
                position:absolute;
                z-index:100;
                left:-20px;
                top: 1px;
            }
        }
    }
}
