@import 'variables';
@import 'mixin';
.main__header{
    border-bottom:  #FDF8F0 solid 1px;
    @include defaultWidth;
    margin-bottom: 50px;
    // padding: 40px;
    .nav-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 180px;
        row-gap: 28px;
        padding: 80px 40px 12px;
        &-item{
            position: relative;
            width: 180px;
            a{
                color: $colorTextHeader;
                font-size: $sizeTextHeader;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background-image: linear-gradient($background 50%, $colorBackgroundEmblem 50%);
                background-size: auto 200%;
                transition: all .3s ease-in-out;
            
                &:hover {
                    color: #ffd085;
                        
                }
                
            }
           
            &::before{
                content: url('../assets/icon/crown.svg');
                position:absolute;
                z-index:100;
                left:-20px;
                top: 1px;
                
            }
            
            
        }
    }
}


//HD
@media (min-width: 992px) and (max-width: 1499px) {
    .main__header{
        @include defaultWidth($maxWidthHD);
        margin-bottom: 30px;
        .nav-list{
            column-gap: 50px;
            row-gap: 20px;
            padding: 40px 40px 12px;
        }
    }
}

@media (min-width: 850px) and (max-width: 991px) {
    .main__header{
        @include defaultWidth($maxWidthHD);
        margin-bottom: 30px;
        .nav-list{
            column-gap: 30px;
            row-gap: 20px;
            padding: 30px 40px 12px;
            &-item{
                width: 160px;
                a{
                    font-size: 12px;
                }
            }
        }
    }
}
