@import 'nullstyle.scss';
@import 'variables';
@import 'header';
@import 'title';
@import 'emblem';
@import 'emblem2';
@import 'description';
@import 'main-button';
@import 'sections';
@import 'line';
@import 'splitDescription';
@import 'selected-description';
body{
    background: $background; 
    overflow-x: hidden;
}

.main-page{
    font-family: 'Roboto Slab', serif;
}
