// [data-tooltip] {
//     position: relative; /* Относительное позиционирование */ 
//    }
//    [data-tooltip]::after {
//     content: attr(data-tooltip); /* Выводим текст */
//     position: absolute; /* Абсолютное позиционирование */
//     left: 0; top: 0; /* Положение подсказки */

//     font-family: "Roboto Slab", sans-serif;
//     font-size: 22px;
//     font-weight: 400;
//     line-height: 29.01px;
//     text-align: justify;
//     width: 300px; /* Ширина подсказки */
    
//     background: #fff; /* Синий цвет фона */
//     border-radius: 10px;
//     // color: #fff; /* Цвет текста */
//     padding: 0.5em; /* Поля вокруг текста */
//     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
//     pointer-events: none; /* Подсказка */
//     opacity: 0; /* Подсказка невидима */
//     transition: 0.5s; /* Время появления подсказки */
//    } 
//    [data-tooltip]:hover::after {
//     opacity: 1; /* Показываем подсказку */
//     top: 2em; /* Положение подсказки */
// }


// .tooltip{
//     margin: 0 9px;
//     &-img{
//         // vertical-align: middle;
//     }
// }



// .tooltip{
//     display: inline;
//     padding: 0.3em;
//     position: relative;
//     &-img{
//         margin: 0 auto;
//         text-align: center;
//     }
//     &-text{
//         padding-left: 0.4em;
//     }
// }


// .tooltip-list {  
//     display: none;  
//     position: absolute;
//     top: 8px;
    
//     a{
//         font-size: 24px;
//         font-weight: 700;
//         line-height: 38px;
//         text-align: center;
//         color: rgba(111, 80, 47, 1);
//         text-decoration: underline;
//     }
// }

// .tooltip:hover ul.tooltip-list {
//     display: flex;
// }

// .tooltip-list-wrapper{
//     position: relative;
//     top: 30px;
//     margin: 0 auto;
//     background: rgba(253, 248, 240, 1); 
//     min-width: 960px;
//     padding: 30px 40px;
//     border-radius:10px;
//     box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.12), 4px 4px 4px 0px rgba(0, 0, 0, 0.12);
//     z-index: 1000;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex-direction: column;
//     gap: 12px;
// }

.tooltip{
    display: inline;
    padding: 0.3em;
    position: relative;
    &-img{
        margin: 0 auto;
        text-align: center;
    }
    &-text{
        padding-left: 0.4em;
    }
}


.tooltip-list {  
    display: none;  
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    background: rgba(253, 248, 240, 1); 
    min-width: 960px;
    padding: 30px 40px;
    border-radius:10px;
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.12), 4px 4px 4px 0px rgba(0, 0, 0, 0.12);
    z-index: 1000;
    a{
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        color: rgba(111, 80, 47, 1);
        text-decoration: underline;
    }
}

.tooltip:hover ul.tooltip-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}


//HD
@media (min-width: 992px) and (max-width: 1499px) {
    .tooltip-list {  
        min-width: 740px;
    }
}


//Portrait tablets and small desktops 
@media (min-width: 768px) and (max-width: 991px) {
    .tooltip-list {  
        min-width: 650px;
        p{
            font-size: 20px;
            line-height: 28px;
        }
        padding: 20px 30px;
        a{
            font-size: 24px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            color: rgba(111, 80, 47, 1);
            text-decoration: underline;
        }
    }
}

//Mobile
@media (max-width: 767px){
    .tooltip-list {  
        min-width: 80vw;
        p{
            font-size: 12px;
            line-height: 18px;
        }
        padding: 10px 20px;
        
        a{
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            color: rgba(111, 80, 47, 1);
            text-decoration: underline;
        }
    }
}


