.card-description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
    .arrow-decor-left{
        background-image:url('../../assets/arrow.svg');
        background-repeat: no-repeat;
        width: 40px;
        height:20px;
        background-size:contain;
        position:absolute;
        top: 50%; 
        left: -70px
    }
    .arrow-decor-right{
        background-image:url('../../assets/arrow.svg');
        background-repeat: no-repeat;
        width: 40px;
        height:20px;
        background-size:contain;
        position:absolute;
        top: 50%; 
        right: -70px; 
        transform:rotate(180deg)
    }
}

.card-description-wrapper{
    margin: 0 auto;
    width: 1160px;
    position: relative;
    border-radius: 10px;
    &-text{
        padding: 32px 100px;
        text-indent: 30px;
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        text-align: justify;

    }
}

//HD
@media (min-width: 992px) and (max-width: 1499px) {
    .card-description{
        gap: 40px;
        position: relative;
        margin-bottom: 40px;
        .arrow-decor-left{
            left: 15px;           
        }
        .arrow-decor-right{
            right: 15px; 
        }
    }
    
    .card-description-wrapper{
        width: 900px;
        position: static;
        &-text{
            padding: 28px 80px;
            text-indent: 30px;
            font-size: 24px;
            line-height: 38px;
        }
    }
}

//Portrait tablets and small desktops 
@media (min-width: 768px) and (max-width: 991px) {
    .card-description{
        gap: 40px;
        position: relative;
        margin-bottom: 40px;
        .arrow-decor-left{
            left: 15px;           
        }
        .arrow-decor-right{
            right: 15px; 
        }
    }
    
    .card-description-wrapper{
        width: 750px;
        
        position:static;
        &-text{
            max-height: 800px;
            overflow: auto;
            padding: 28px 50px;
            text-indent: 30px;
            font-size: 24px;
            line-height: 38px;
        }
    }
}

//Mobile
@media (max-width: 767px){
    .card-description{
        gap: 20px;
        margin-bottom: 20px;
        position: relative;
        .decor{
            width: 150px;
        }
        .arrow-decor-left{
            background-image:url('../../assets/arrow-mobile.svg');
            left: 10px;
            height:20px;
            width: 15px;
            
        }
        .arrow-decor-right{
            background-image:url('../../assets/arrow-mobile.svg');
            right:10px; 
            height:20px;
            width: 15px;
        }
    }
    
    .card-description-wrapper{
        width: 80vw;
        position:static;
        &-text{
            max-height: 500px;
            overflow: auto;
            padding: 15px 15px;
            text-indent: 20px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}